<ion-view>
  <ion-nav-bar align-title="center" class="bar-light">
    <ion-nav-back-button></ion-nav-back-button>
    <ion-nav-title>
      MESSAGES
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content class="padding" scroll="false">
    <h1 class="account-title center-align">Add A New Message</h1>
    <div class="list">
      <label class="item item-input" ng-model="id">
        <input type="text" placeholder="Title" ng-model="new.task.title">
      </label>
      <textarea rows ="15" class="form-control" placeholder="Enter Your Message" ng-model="new.task.body" ng-change="taskbody=new.task.body">
      </textarea>
      <button class="button button-full button-positive" ng-click="new.add();addMongo();addkey()" ng-if="user">Submit</button>
      <button class="button button-full button-positive" ng-if="!user">Submit</button>

    </div>
  </ion-content>
</ion-view>
